.App {
  /* padding-top: 1rem; */
  /* margin: 2rem auto; */
}

.App-logo {
  height: 80px;
}

.Spin {
  animation: App-logo-spin infinite 2s linear;
}

.Edit-animation {
  height: 18px;
  position: relative;
  top: -2px;
  padding-left: 3px;
}

.App-header {
  text-align: center;
  background-color: var(--secondary);
  padding: 20px;
  color: white;
  border-radius: 0.3rem;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h6 {
  margin-bottom: 20px;
}

.participants_span_style {
  display: inline-block;
  margin: 4px 6px 0 0;
  padding: 0px 4px 0 4px;
  background-color: pink;
  border: solid 1px gray;
  border-radius: 4px;
}

.participants_just_wrote_style {
  background-color: coral;
}
.participants_div_style,
.my_comment_form_style {
  background-color: lightgreen;
  margin: 6px 4px 0 0px;
  padding: 6px;
  border-radius: 0.3rem;
  max-height: 95px;
  overflow: auto;
  flex: none;
}
.my_comment_form_style {
  border: 2px solid red;
}
.my_name_div_style {
  margin: 4px 0 0 0;
  padding: 4px;
  border-radius: 0.3rem;
  width: 100%;
  display: table;
}
